[patch."https://github.com/arceos-hypervisor/arm_vcpu".arm_vcpu]
path = "crates/arm_vcpu"

[patch."https://github.com/arceos-hypervisor/axdevice".axdevice]
path = "crates/axdevice"

[patch.crates-io.axvcpu]
path = "crates/axvcpu"

[patch.crates-io.arm_vgic]
path = "crates/arm_vgic"

[patch."https://github.com/arceos-hypervisor/axvcpu".axvcpu]
path = "crates/axvcpu"

[patch."https://github.com/arceos-hypervisor/axvm.git".axvm]
path = "crates/axvm"

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-Clink-args=-no-pie",
    "-Clink-args=-znostart-stop-gc",
    "-Clink-args=-Tlink.x",
]

[target.'cfg(target_os = "none")']
runner = "cargo osrun"

[target.x86_64-unknown-none]
rustflags = [
    "-Clink-args=-no-pie",
    "-Clink-args=-znostart-stop-gc",
    "-Clink-args=-Tlink.x",
]

[alias]
xtask = "run --package xtask --"
